<div data-role="footer" data-theme="a">
  <h4><u>CONTACT US</u></h4>
    <p>DieSachbearbeiter
        Choriner Straße 49
        10435 Berlin
        E-Mail: moinsen2@blindtextgenerator.com</p>
</div><!-- /footer -->
